// Nova Tool CSS
%btn-base {
    position: absolute;
    top: 0;
    left: 0;
    transition: all ease-out .3s;
    display: block;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    backface-visibility: hidden;
    color: #fff;
}

.erik-flip-button {
    &:after, &:before {
        @extend %btn-base;
    }
    &:after {
        content: attr(data-label-on);
        background-color: #2ecc71;
        transform: rotateY(-180deg);
    }
    &:before {
        content: attr(data-label-off);
        background-color: #e74c3c;
    }
    &.active:after {
        transform: rotateY(0deg);
    }
    &.active:before {
        transform: rotateY(-180deg);
    }
}

.loading {
    @extend %btn-base;
    background: #34495e;
    transform: rotateY(-180deg);
    z-index: 2;

    &.show {
        transform: rotateY(0deg);
    }
}
